*{
	margin:0;
	padding: 0;
}
html,body,#firstPage{
	width: 100%;
	height: 100%;
}

/*第一页*/

#firstPage{
	background-color: #6cf;
	font-size: 16px;
}
#buttonStart{
	height: 20%;
	width: 50%;
	margin-left: 25%;
	font-size: 16px;
}
.box{
	position: relative;
	display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: contain;
}
#showButton{
	position: absolute;
	bottom: 5%;
	width: 40%;
	left: 30%;
}

/*下面是wifi锦鲤界面的定位*/

.lightWifi{
	width: 7.18%;
	position: absolute;
	left: 37.7%;
	top: 43.74%;
}
.headImgWifi{
	display: block;
	border-radius: 50%;
	width: 25.2%;
	position: absolute;
	left: 23.1%;
	top: 42.37%;
}
.radusWifi{
	width: 25.2%;
	position: absolute;
	left: 23.1%;
	top: 42.37%;
}

/*第三页*/

#boxBgi{
	position: absolute;
}
#showBox{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}
#downloadBox{
	margin-top: 5%;
	width: 60%;
	margin-left: 20%;	
	border:2px solid black;
	background-image: null;
}
#showBox>p{
	display: block;
	position: absolute;
	bottom: 15%;
	width: 50%;
	text-align: center;
	left: 25%;
}

/*被保存的图片*/
#myIMG{
	opacity: 0;
	position: absolute;
	top: 5%;
	left: 20%;
}